.hidden {
 display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

section{ 
  display: flex;
  flex-direction: column-reverse;
  gap: 20px ;
}

form {
  padding: 40px 20px;
  border-radius: 20px solid blue;
  background-color: gray;
  margin: 0 auto;
  max-width: 300px;
}