* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

td {
  padding: 4px;
  text-align: center;
  background-color: beige;
}

tr:first-child td {
  background-color: white;
}

td:first-child {
  background-color: white;
}